@model IPNuty.ViewModels.Admin.AddNewSheetMusicModel
@{
    ViewBag.Title = "Dodaj nowe nuty do zbioru chóru";
}

<h2>Dodaj nowe nuty do zbioru chóru</h2>
@* gdzie coś dopisywałam: AdminController -> AddSheetMusic, ViewModel -> AddNewSheetMusicModel*@

@using (Html.BeginForm("AddNewSheetMusic", "Admin"))
{

    <p>Tytuł: @Html.TextBoxFor(a => a.title)</p>
    <p>Autor: @Html.TextBoxFor(a => a.author)</p>
    <p>
        Typ:
        @Html.DropDownListFor(a => a.type, new[]
        {
        new SelectListItem() {Text = "rozrywkowe" , Value="1"},
        new SelectListItem() {Text = "sakralne" , Value="2"},
        new SelectListItem() {Text = "musicalowe" ,Value="3"},
        new SelectListItem() {Text = "ludowe" , Value="4"},
        new SelectListItem() {Text = "inne" ,Value="5"},
        }
        )
    </p>
    
    <input type="submit" value="Dodaj" />
    <p>@ViewBag.result</p>
}

<div>
    @Html.ActionLink("Wróc do listy nut", "SheetMusicListAcctualization")
</div>
