@model IPNuty.ViewModels.Admin.AddNewSingerViewModel
@{
    ViewBag.Title = "Dodaj nowego chórzystę";
}

<h2>Dodaj nowego chórzystę do bazy</h2>

@using (Html.BeginForm("AddNewSinger", "Admin"))
{ 

    <p>Imię: <br />@Html.TextBoxFor(a => a.name)</p>
    <p>Nazwisko: <br />@Html.TextBoxFor(a => a.lastName)</p>
    <p>
        Aktywność:<br />
        @Html.DropDownListFor(a => a.activicity, new[]
        {
        new SelectListItem() {Text = "aktywny", Value="true"},
        new SelectListItem() {Text = "nieaktywny", Value="false"}
        }
        )
    </p>
    <p>Data dołączenia: <br />@Html.TextBoxFor(a => a.joiningDate)</p>

    <input type="submit" value="Dodaj"/>
    <p>@ViewBag.result</p>
}

<div>
    <br />
    @Html.ActionLink("Dodaj nuty chórzysty", "SingersSheetMusicListAcctualization")
   
</div>

<div>
    @Html.ActionLink("Wróc do listy chórzystów", "SingerListAcctualization")
</div>


