@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{


@model IEnumerable<IPNuty.Models.Order>
{ViewBag.Title = "Zamówienia chórzystów"; } //to jest tytuł strony



<div>
    <form action="/action_page.php" method="get">
        <h2>Lista zamówień</h2>
        <p>Pamiętaj, aby przy wręczeniu nut chórzyście usunąć zamówienie z listy!</p>
        <table>
            <tr>
                <th>@Html.ActionLink("Numer zamówienia", "SortujOrder", new { sortOrder = ViewBag.IDSortParm })</th>
                <th>@Html.ActionLink("Zamawiający", "SortujOrder", new { sortOrder = ViewBag.SurnameSortParm })</th>
                <th>@Html.ActionLink("Data złożenia zamówienia", "SortujOrder", new { sortOrder = ViewBag.DateSortParm })</th>
                <th>@Html.ActionLink("Status zamówienia", "SortujOrder", new { sortOrder = ViewBag.StatusSortParm })</th>
                <th>@Html.ActionLink("Nuty", "SortujOrder", new { sortOrder = ViewBag.AuthorSortParm })</th>
                <th>Usuń</th>
            </tr>
            @foreach (var item in Model)
            {
                if (item != null)
                {
                        <tr>
                            <td>@item.OrderId</td>
                            <td>@item.SingerId.LastName @item.SingerId.Name </td>
                            <td>@item.OrderTime.ToShortDateString()</td>
                            @if(@item.Completed)
                            {
                                <td>do odbioru</td>
                            }
                            else
                            {
                                <td>niezrealizowane</td>
                            }
                            <td>@item.SheetMusicId.Author - @item.SheetMusicId.Title</td>
                            <td>
                                @Html.ActionLink("Usuń", "RemoveSingerOrder", item)
                            </td>
                        </tr>
                    
                }
                else
                {

                }
            }
        </table>
        <br />
        @Html.ActionLink("Wykonaj podsumowanie", "SumUp")
        <br />
        <br />
    </form>
</div>

<div>

    <h2>Podsumowanie</h2>
    <table>
        <tr>
            <th>Autor</th>
            <th>Tytuł</th>
            <th>Akcja</th>
            <th>Zamówiona ilość</th>
        </tr>
        @* Kolejne wiersze to wartości z listy (po zaznaczeniu checkboxów). Dostępne egzemplarze pobierane są z bazy, Potrzebna ilość to różnica między nimi *@
        
        @if (ViewBag.Count != null)
        {
            var uniqueOrders = ViewBag.UniqueOrders;
            var count = ViewBag.Count;
            for (int i = 0; i <= uniqueOrders.Count - 1; i ++)
            {
                    <tr>
                        <td>@uniqueOrders[i].SheetMusicId.Author</td>
                        <td>@uniqueOrders[i].SheetMusicId.Title</td>
                        @if (@uniqueOrders[i].Completed == false)
                        {
                        <td>
                            @Html.ActionLink("Kseruj!", "ChangeOrderStatus", Model.Where(x => x.OrderId == uniqueOrders[i].OrderId).FirstOrDefault())
                        </td>
                        }
                        
                        <td>@count[i]</td>

                    </tr>
            }
        }

     </table>
    @Html.ActionLink("Wyczyść wszystko", "RemoveAllSumedUpOrder")
</div>

    }

    else
    {
        <h2>@Html.ActionLink("Zaloguj się, aby mieć dostęp do tej strony.", "Login", "Account")</h2>
    }
