@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{

@model IEnumerable<IPNuty.Models.SheetMusic>
{
    ViewBag.Title = "Baza nut chóru";
}

<h2>Aktualizuj bazę dostępnych nut</h2>

<hr />
<div>
    @Html.ActionLink("Dodaj nowy zestaw nut", "AddNewSheetMusic")
</div>
<div>
    <table>
        <tr>
            <th>@Html.ActionLink("Autor", "Sortuj", new { sortOrder = ViewBag.AuthorSortParm })</th>
            <th>@Html.ActionLink("Tytuł", "Sortuj", new { sortOrder = ViewBag.TitleSortParm })</th>
            <th>@Html.ActionLink("Rodzaj", "Sortuj", new { sortOrder = ViewBag.TypeSortParm })</th>
            <th>Akcja</th>

        </tr>
        
        @foreach (var item in Model.Where(e => e.SingerID == null))
        {
            <tr>
                <td>@item.Author</td>
                <td>@item.Title</td>
                <td>@item.Type</td>
                <td>Html.ActionLink("Usuń nuty", "RemoveSheetMusic","Account",item,null)</td>
            </tr>
        }
    </table>
</div>
}

else
{
    <h2>@Html.ActionLink("Zaloguj się, aby mieć dostęp do tej strony.", "Login", "Account")</h2>
}