@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{

    @model  IEnumerable<IPNuty.Models.SheetMusic>


    {
        ViewBag.Title = "Lista nut osoby XYZ";
        //ViewBag.Singer = this.Model;
    }

    <h2>Lista nut osoby @ViewBag.Message @*@Model.FirstOrDefault().SingerID.Name @Model.FirstOrDefault().SingerID.LastName*@</h2>
        

        <div>

            <table>
                <tr>
                    <th>@Html.ActionLink("Autor", "Sortuj", new { sortOrder = ViewBag.AuthorSortParm })</th>
                    <th>@Html.ActionLink("Tytuł", "Sortuj", new { sortOrder = ViewBag.TitleSortParm })</th>
                    <th>@Html.ActionLink("Rodzaj", "Sortuj", new { sortOrder = ViewBag.TypeSortParm })</th>
                    <th>Akcja</th>

                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Author</td>
                        <td>@item.Title</td>
                        <td>@item.Type</td>
                        <td>@Html.ActionLink("Usuń nuty", "RemoveSingerSheetMusic", item)</td>
                    </tr>
                }
            </table>

        </div>

}

else
{
    <h2>@Html.ActionLink("Zaloguj się, aby mieć dostęp do tej strony.", "Login", "Account")</h2>
}
