@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{

    @model IPNuty.ViewModels.Admin.SingersSheetMusicListAcctualizationViewModel


    {
        ViewBag.Title = "Lista nut osoby XYZ";
        ViewBag.Singer = this.Model;
    }

    <h2>Lista nut osoby XYZ</h2>
        <p>
            Wyświetlamy całą bazę nut. Najpierw są wyświetlane nuty posiadane, później te nieposiadane. Istnieje możliwość dodawania nut do użytkownika i usuwania ich.<br />
            Trzeba dostać się do danych tej jednej konkretnej osoby - jak to zrobić?
        </p>

        <div>


            <table>
                <tr>
                    <th>@Html.ActionLink("Autor", "Sortuj", new { sortOrder = ViewBag.AuthorSortParm })</th>
                    <th>@Html.ActionLink("Tytuł", "Sortuj", new { sortOrder = ViewBag.TitleSortParm })</th>
                    <th>@Html.ActionLink("Rodzaj", "Sortuj", new { sortOrder = ViewBag.TypeSortParm })</th>
                    <th>Akcja</th>

                </tr>

                @foreach (var item in Model.Where(e => e.SingerID == null))
                {
                    <tr>
                        <td>@item.Author</td>
                        <td>@item.Title</td>
                        <td>@item.Type</td>
                        <td>@Html.ActionLink("Usuń nuty", "RemoveSheetMusic", item)</td>
                    </tr>
                }
            </table>

        </div>

}

else
{
    <h2>@Html.ActionLink("Zaloguj się, aby mieć dostęp do tej strony.", "Login", "Account")</h2>
}
