@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Index";
}

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        //nie działa wylogowanie zalogowanego użytkownika - trzeba dodać ponownie taką funkcjonalność 
        //(poszukać starego wylogowania w kodzie i to naprawić)
        @Html.AntiForgeryToken()
        <p><h2>Witaj  @User.Identity.GetUserName()</h2> </p>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li> @Html.ActionLink("Login", "Login", "Account")</li>
        <li> @Html.ActionLink("Rejestracja", "Register", "Account")</li>
    </ul>
}

@*@if (User.IsInRole("Singer"))
{

        <p><h2>Witaj Singerze  @User.Identity.GetUserName()</h2> </p>

}*@